<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/create.css">
    <title>Create Post</title>
</head>
<body>
    <h1>Create Blog Post</h1>
    <div class="container">
        <form id="create_form">
            <div>
                  <label for="title">Title: </label>
                <input id="title_input" name="title" type="text" > 
            </div>
          
            <div>
                <label for="text">Text: </label>
            <textarea id="text_input" cols="75" rows="30" name="text"></textarea>
            </div>
            <div class="buttons">
                 <button form="create_form" id="create_post">Create Post</button>
                <button form="create_form" id="exit">Exit</button>
            </div>
               
                
            
        </form>
    </div>
   <script src="/js/create.js"></script>
</body>
</html>