<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/edit.css">
    <title>Post Edit</title>
</head>
<body>
    <h1>Edit Blog Post</h1>
    <div class="container" id="{{post._id}}">
        <form id="edit_form">
            <div>
                  <label for="title">Title: </label>
                <input id="title_input" name="title" type="text" value="{{post.title}}"> 
            </div>
          
            <div>
                <label for="text">Text: </label>
            <textarea id="text_input" cols="75" rows="30" name="text">{{post.text}}</textarea>
            </div>
            <div class="buttons">
                <button form="edit_form" id="save_changes">Save Changes</button>
                <button form="edit_form" id="reset">Reset</button>
                <button form="edit_form" id="delete_post">Delete Post</button>
                <button form="edit_form" id="exit">Exit Editor</button>
            </div>
        </form>
    </div>
   <script src="/js/edit.js"></script>
</body>
</html>